absl-py==0.12.0
alabaster==0.7.12
albumentations==0.5.2
appdirs==1.4.4
astunparse==1.6.3
attrs==21.2.0
audioread==2.1.9
autocfg==0.0.8
autogluon.core==0.2.0
autograd==1.3
Automat==20.2.0
autopep8==1.5.5
Babel==2.9.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
BiliUtil==0.2.3
bokeh==2.3.2
boto3==1.17.71
botocore==1.20.71
bpu-sim==3.2.5
bs4==0.0.1
cached-property==1.5.2
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
commonmark==0.9.1
ConfigSpace==0.4.18
constantly==15.1.0
contextvars==2.4
cryptography==3.4.7
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.21
dahuffman==0.4.1
dask==2021.3.0
dataclasses==0.8
decorator==4.4.2
decord==0.5.2
dill==0.3.0
distlib==0.3.1
distributed==2021.3.0
docopt==0.6.2
docutils==0.16
easydict==1.9
enum34==1.1.10
ez-setup==0.9
fake-useragent==0.1.11
ffmpeg-python==0.2.0
filelock==3.0.12
filterpy==1.4.5
future==0.18.2
gast==0.3.3
gluon-horizon==0.4.0
gluoncv==0.4.0
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
graphviz==0.8.4
grpcio==1.37.1
h11==0.12.0
h2==3.2.0
h5py==2.10.0
hbdk==3.9.4
hdfs==2.5.8
HeapDict==1.0.1
hiredis==2.0.0
hobot-pyrocksdb==0.7.0
hpack==3.0.0
httpcore==0.12.3
httpx==0.16.1
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
imageio==2.9.0
imagesize==1.2.0
imgaug==0.4.0
immutables==0.15
importlib-metadata==3.10.1
importlib-resources==4.1.1
incremental==21.3.0
inflect==5.3.0
iniconfig==1.1.1
itemadapter==0.2.0
itemloaders==1.0.4
jieba==0.42.1
Jinja2==2.11.2
jmespath==0.10.0
joblib==1.0.0
json2html==1.3.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
librosa==0.8.0
llvmlite==0.35.0
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.3
modules==1.0.0
mpi4py==1.3.1
msgpack==1.0.2
mxboard==0.1.0
mxnet==1.8.0.post0
mxnet-horizon-cu92==1.5.1.2.1b20201230+025dc
networkx==2.5
norbert==0.2.1
nose==1.3.7
numba==0.52.0
numpy==1.18.5
oauthlib==3.1.0
opencv-python==3.4.5.20
opencv-python-headless==4.5.1.48
opt-einsum==3.3.0
packaging==20.8
pandas==1.1.2
paramiko==2.7.2
parsel==1.6.0
pep8==1.7.1
pika==3.2.7.1
Pillow==8.1.0
pluggy==0.13.1
pooch==1.3.0
portalocker==2.3.0
praatio==4.2.1
priority==1.3.0
progressbar==2.5
Protego==0.1.16
protobuf==3.14.0
psutil==5.8.0
py==1.10.0
pyaml==20.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pycodestyle==2.6.0
pycparser==2.20
PyDispatcher==2.0.5
Pygments==2.7.4
PyHamcrest==2.0.2
pymongo==3.11.4
PyMySQL==1.0.2
PyNaCl==1.4.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrocksdb-service==0.1.0b20191119
PySnooper==0.4.3
pytest==6.2.4
python-dateutil==2.8.1
pytube==10.8.2
pytz==2020.5
PyWavelets==1.1.1
PyYAML==5.4.1
queuelib==1.6.1
recommonmark==0.7.1
redis==3.5.3
redis-server==6.0.9
requests==2.25.1
requests-oauthlib==1.3.0
resampy==0.2.2
retrying==1.3.3
rfc3986==1.5.0
rsa==4.7.2
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
s3transfer==0.4.2
scikit-image==0.17.2
scikit-learn==0.24.0
scikit-optimize==0.8.1
scipy==1.4.1
Scrapy==1.6.0
scrapy-redis==0.7.1
selenium==3.141.0
service-identity==21.1.0
Shapely==1.7.1
shortuuid==1.0.1
simplejson==3.17.2
six==1.15.0
sklearn==0.0
sniffio==1.2.0
snowballstemmer==2.0.0
sortedcontainers==2.3.0
SoundFile==0.10.3.post1
soupsieve==2.2.1
Sphinx==3.3.0
sphinx-bootstrap-theme==0.7.1
sphinx-gallery==0.8.2
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spleeter==2.2.2
sqlacodegen==2.0.1
SQLAlchemy==1.3.5
tblib==1.7.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
threadpoolctl==2.1.0
tifffile==2020.9.3
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.56.0
tushare==1.2.62
Twisted==21.2.0
typer==0.3.2
typing-extensions==3.10.0.0
urllib3==1.26.2
w3lib==1.22.0
waiting==1.4.1
websocket-client==0.59.0
Werkzeug==2.0.0
widerface-evaluation==0.0.2
wrapt==1.12.1
yacs==0.1.8
youtube-scraping-api==0.1.1
zict==2.0.0
zipp==3.4.1
zope.interface==5.4.0
